footer{
    background-color: var(--color-septima);
    margin-top: 10px;
    padding-top: 20px;
}

footer h3{
    margin: 0;
    font-size: 1.4em;
    color: var(--color-novena);
}

footer p{
    margin: 0;
    padding: 12px;
    color: var(--color-novena);
}

footer .container{
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(min-width:720px){
    footer .container{
        height: 140px;
        justify-content: flex-end;
    }
    footer .datos{
        background-position: 200px 300px;
    }
    .whatsapp-icon{
        bottom: 20px;
    }
}